/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }

  /* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* unselectable list items */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
    /*Set different color for each row  */
  ul li:nth-child(even) {
    background: #f9f9f9;
  }
    /* align the buttom section  */
  #add-todo {
      background: #d4f5ff;
      display: flex;
      justify-content: center;
      padding: 40px;
  }




  